@model Horticlima.ViewModels.CarrinhoVw

@if (Model.Carrinho.CarrinhoItems.Count > 1) { 
    <a asp-controller="Carrinho" asp-action="Index">
        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
    </a>
    <span style="color: yellow">
        @Model.Carrinho.CarrinhoItems.Count
    </span>

}