<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Horticlima</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar container navbar-light bg-white border-bottom d-flex flex-nowrap align-items-center">
            <div class="container justify-content-lg-start">
                <a class="navbar-brand" asp-area="" asp-controller="Produtos" asp-action="Index">Horticlima</a>
                <a class="navbar-link text-dark pr-3" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
            </div>
            <a asp-controller="Carrinhos" asp-action="Index"> <img src="~/assets/carrinho.svg" style="width: 17px; cursor: pointer;" asp-controller="Carrinhos" asp-action="Index"/> </a>
            <img class="menu-list ml-4"  src="~/assets/list.svg" />
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
