
@{
    ViewData["Title"] = "AcessDenied";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
    <img src="~/assets/403 Error Forbidden-bro.svg" style="width: 40%; height: 40%;"/>
    <h1>Acesso negado</h1>
    <p> A página que você está tentando acessar possui acesso restrito. </p>
    <p class="text-black-50"> Error code: 403</p>

    <a class="btn btn-danger rounded-pill" asp-controller="Produtos" asp-action="Index"> Voltar </a>
</div>

