@model Horticlima.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <form asp-action="Login" class="card-body p-5 text-center">
                        <div class="mb-md-3 mt-md-3 pb-3">
                            <h1>Horticlima</h1>
                            <p class="text-white-50 mb-4">Favor inserir o usuário e senha!</p>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UsuarioId" class="control-label"> Id </label>
                                <input placeholder="Insira o ID do usuário" asp-for="UsuarioId" class="form-control" />
                                <span asp-validation-for="UsuarioId" class="text-danger"></span>
                            </div>
                            <div class="form-group pb-4">
                                <label asp-for="UsuarioSenha" class="control-label"> Senha </label>
                                <input placeholder="Insira a senha" asp-for="UsuarioSenha" class="form-control" />
                                <span asp-validation-for="UsuarioSenha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-light btn-lg px-5" type="submit"> Login </button>
                            </div>
                            <h3> @ViewBag.Message </h3>
                            <p class="small mb-3 pb-lg-2"><a class="text-white-50" asp-controller="Produtos">Esqueceu a senha?</a></p>

                            <p class="mb-0">
                                Ainda não possui cadastro? <a class="text-white-50 fw-bold">Cadastrar-se</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
